* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #e2e8f0;
  --text-color: #404040;
  --primary-color: #475569;
  --secondary-color: #cbd5e1;
  --task-color: #f6f6f6;
  --cancel-color: #e5e7eb;
  --confirm-color: #dc2626;
  --confirm-hover-color: #b91c1c;
  --task-size: 48px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 6rem;
}

.heading {
  font-size: var(--task-size);
}
.column {
  width: 100%;
}
.column-heading {
  /* font-size: 20px; */
  color: var(--primary-color);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

.board {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.btns {
  display: flex;
  gap: 1rem;
  align-items: end;
  justify-content: flex-end;
}
.btn {
  cursor: pointer;
}

.card {
  background-color: var(--task-color);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
